<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>index</title>
</head>
<body>
    <main>
        <p class="title">Yunjae's Blog</p>
        
        <ul class="posts">
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                <p class="post-subtitle">2022.01.14</p>
            </li>
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                
                <p class="post-subtitle">2022.01.14</p>
            </li>
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                <p class="post-subtitle">2022.01.14</p>
            </li>
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                <p class="post-subtitle">2022.01.14</p>
            </li>
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                <p class="post-subtitle">2022.01.14</p>
            </li>
            <li>
                <img src="./yunjae.jpg" alt="yunjae" class="post-img">
                <a href="#">윤재 피자</a>
                <p class="post-subtitle">2022.01.14</p>
            </li>

            <button type="button" class="create_btn">create</button>
        </ul>
    </main>
</body>
</html>