<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>view</title>
</head>
<body>
    <section id="view">
    </section>

    <script>
        const $view = document.querySelector('#view');
        const url = "http://localhost:8080/"
        const getlist = async ()=>{
            const res = await fetch(url+"post/api/"+sessionStorage.getItem('id'),{
                headers: {
                    "Content-Type":"application/json"
                }
            })
            const json = await res.json();
            console.log(json)
            $view.innerHTML = `
            <p class="title">${json.title}</p>
            <ul class="views">
                <li>
                    <div class="view-img">
                        <img src="${url}img/${json.titleImg}" alt="">
                    </div>
                    <div class="view-content">${json.content}</div>
                </li>
                <li>
                    <div class="updel">
                        <button class="update">수정</button>
                        <button class="delete">삭제</button>
                    </div>
                </li>
            </ul>
            `
        }
        getlist();
    </script>        
    </section>
</body>
</html>